body {
  font-family: 'Odibee Sans', cursive;
  background-image: url("images/banner.jpg");
}

h2 {
  color: white;
}

#creators-header {
  color: black;
}

#container {
  text-align: center;
}

#menuDiv {
  background: #98989E;
  border-radius: 25px;
  margin: 10px;
  border: 2px, solid, black;
}

#logo{
  height: 300px;
  width: 300px;
  border-radius: 15px;
  margin: 20px;
}

#logo-div {
  text-align: center;
}

#play-again {
  text-align: center;
}

/* #high-scores {
  text-align: center;
} */

#score-list {
  text-align: center;
  list-style-position: inside;
}

.session-name {
  margin: 15px;
  font-size: 30px;
}
#high-score-title {
  font-size: 40px

}

#question-text {
  font-size: 50px;
}

#easy {
  margin: 5px;
  /* text-decoration: underline; */
  padding: 8px;
}

#medium {
  margin: 5px;
  /* text-decoration: underline; */
  padding: 8px;
}

#hard {
  margin: 5px;
  /* text-decoration: underline; */
  padding: 8px;
}

#question-view {
  display: none;
}

#menuDiv {
  display: 'block'
}


#question-view {
  text-align: center;
  margin-top: 200px;
}

#game-title {
  font-size: 65px;
}

#high-scores {
  text-align: center;
  display: none;
  font-size: 20px;
  margin: 20px;
}

#play-again {
  display: none;
}

#score-form {
  text-align: center;
}

#about-the-creators {
  margin: 10px;
  text-align: center;
}

#false {
  width: 200px;
  margin: 20px;
  background: #1A1A1E;
}

#true {
  width: 200px;
  margin: 20px;
  background: #1A1A1E;
}

#submit-score-button {
  width: 200px;
  margin: 20px;
  background: #1A1A1E;
}

#total-score {
  font-size: 30px;
  color: white;
}
