#question-view {
  display: none;
}

#toggleJumbotron {
  display: block;
}

#question-view {
  text-align: center;
  margin-top: 200px;
}

#game-title {
  font-size: 75px;

}

#play-again {
  display: none;
}

 #about-the-creators {
  display: block;
}
